/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b,#111827);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

.login-container{
    width:100%;
    max-width:430px;
    background:#1f2937;
    border-radius:18px;
    padding:40px;
    box-shadow:0 15px 40px rgba(0,0,0,.45);
}

.login-container h2{
    color:#fff;
    text-align:center;
    margin-bottom:10px;
    font-size:32px;
}

.login-container p{
    color:#9ca3af;
    text-align:center;
    margin-bottom:30px;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;
    color:#e5e7eb;
    margin-bottom:8px;
    font-size:15px;
    font-weight:500;
}

.input-group input{
    width:100%;
    padding:14px 16px;
    border:1px solid #374151;
    border-radius:10px;
    background:#111827;
    color:#fff;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.input-group input:focus{
    border-color:#3b82f6;
    box-shadow:0 0 10px rgba(59,130,246,.4);
}

.login-btn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#2563eb;
    color:#fff;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    margin-top:10px;
    transition:.3s;
}

.login-btn:hover{
    background:#1d4ed8;
}

.google-btn{
    width:100%;
    padding:14px;
    margin-top:18px;
    border:1px solid #4b5563;
    background:transparent;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

.google-btn:hover{
    background:#374151;
}

.bottom-text{
    text-align:center;
    margin-top:25px;
    color:#d1d5db;
}

.bottom-text a{
    color:#3b82f6;
    text-decoration:none;
    font-weight:600;
}

.bottom-text a:hover{
    text-decoration:underline;
}